.hero-block {
  background: $blue;
  color: $white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-block__textContainer{
    display: flex;
}

.hero-block__img{
    display: flex;
}

.hero-img{
    height: 660px;
    width: auto;
    
}

.hero-block__titles{
    font-family: $font-nunito;
    font-weight: 700;
    font-size: rem-calc(48);
    line-height: 60;
}

.hero-block__text{
    font-family: $font-open;
    font-weight: 400;
    font-size: rem-calc(18);
}
