@model IEnumerable<OdeToFood.Data.Models.CuisineType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
    {
        @Html.Partial("_CuisineSummary", item)
    }

