@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    Health Assitants<br />
    Redmond, WA 98052<br />
    <abbr title="Phone">P:</abbr>
    425.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:health@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>